#hrtop {
    border-top: 3px solid #ff1b6b;
    margin: 0px
    }

/* Navigation bar */
.nav {
    background-color: #ffffff;
}

ul.nav {
    list-style: none;
}
ul.nav li{
    display: inline;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    padding-left: 25px;
    margin-top: 10px;
}

#link:visited {
    color: #898A8C;
    text-decoration: none;
}

#link:hover {
    color: #ff1b6b;
    text-decoration: underline;
}
    
#link:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
} 

/* Navigation bar - Categories */
.topnav_cat {
    background-color: #ffffff;
    }

ul.topnav_cat {
    text-align: right;

}
ul.topnav_cat li{
    display: inline;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding-left: 4px;
    margin-top: 10px;
}

#cat:link {
    color: #898A8C;
    text-decoration: none;   
} 

#cat:visited {
    color: #898A8C;
    text-decoration: none;
}

#cat:hover {
    color: #ff1b6b;
    text-decoration: underline;
}
    
#cat:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
}

/* Header */
.header {
    background-color: #ffffff;
    padding-left: 25px;
    margin: 0px;
}

#searchbar {
    position: absolute;
    bottom: 25px;
    right: 15px;
    font-family: 'Raleway', sans-serif;
    }


#headerpic {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
}

#headertext {
    font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 100;
	line-height: 50px;
    margin-top: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

#subtitle {
    font-family: 'Parisienne', cursive;
	font-size: 50px;
	font-style: normal;
	line-height: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
    text-decoration: none;
}

#myInput {
    font-family: 'Raleway', sans-serif;
}

#lineunderh1 {
    border-top: 1px solid #D9D9D7;
    margin: 0px;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
    text-align: justify;
    font-weight: 200;
    color: #000000;
}

#datetext {
    font-family: 'Parisienne', cursive;
    font-size: 24px;
    }

.blogpostlink {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    color: black;
  }

.postby:link {
    color: #2F28F2;
    text-decoration: none;
  }

.postby:visited {
    color: #2F28F2;
    text-decoration: none;
  }

.postby:hover {
    color: #ff1b6b;
    text-decoration: underline;
  }
    
.postby:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
 }

.picturewrapleft {
    float: left;
    margin-right: 10px;
    margin-top: 10px; 
 }

.picturepost {
    display: inline-block;
    margin: 20px; 
 }

.picturecenter {
    text-align: center;
 }

#hrbetweenpost {
    border: 1px solid #000000;
    margin-bottom: 30px;
}

.verticalLine {
    border-left: 1px solid #D9D9D7;
}

ul.navside { 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
    
/* Text inside col-3 */
ul.navside li {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #919294;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

/* Text inside col-3 - Links */
ul.navsidedot li { 
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

#linkside:link {
    color: #2F28F2;
    text-decoration: none;   
} 

#linkside:visited {
    color: #2F28F2;
    text-decoration: none;
}

#linkside:hover {
    color: #ff1b6b;
    text-decoration: underline;
}
    
#linkside:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
}

/* Blog comments */

.commentform {
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
    display: block;
}

.namespace {
    display: block;
}

.commentspace {
    display: block;
    width: 800px;
}


<div id="commentform">
    <form id="commentform"><input id="namespace" type="text"name="name" placeholder="Your name"><textarea id="commentspace" name="message" placeholder="Your comment"></textarea><button onclick="follow()">Submit</button>
        </form>
    </div>

/* Contact form */
#contactform {
    text-align: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    
}
#contactformstyle {
    width:300px;
    display: block;
    margin: auto;
    position: relative;
}

#contactformid {
    text-align: center;
    align-content: center;
}

#contactsend {
    position: absolute;
    margin-left: 98px;
}

/* Travel map */
.h2country {
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
    text-decoration: underline;
    text-align: center;
}

ul.countrylist li {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}

.maps{
    margin-bottom: 20px;
}

/* Footer */
.containerfooter {
    background-color: lightgray;
}
