#hrtop {
    border-top: 3px solid #ff1b6b;
    margin: 0px
    }

/* Navigation bar */
.nav {
    background-color: #ffffff;
}

ul.nav {
    list-style: none;
}
ul.nav li{
    display: inline;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    padding-left: 25px;
    margin-top: 10px;
}

#link:visited {
    color: #898A8C;
    text-decoration: none;
}

#link:hover {
    color: #ff1b6b;
    text-decoration: underline;
}
    
#link:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
} 

/* Navigation bar - Categories */
.topnav_cat {
    background-color: #ffffff;
    }

ul.topnav_cat {
    text-align: right;

}
ul.topnav_cat li{
    display: inline;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding-left: 4px;
    margin-top: 10px;
}

#cat:link {
    color: #898A8C;
    text-decoration: none;   
} 

#cat:visited {
    color: #898A8C;
    text-decoration: none;
}

#cat:hover {
    color: #ff1b6b;
    text-decoration: underline;
}
    
#cat:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
}

/* Header */
.header {
    background-color: #ffffff;
    padding-left: 25px;
    margin: 0px;
}

#searchbar {
    position: absolute;
    bottom: 25px;
    right: 15px;
    
    }


#headerpic {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 100;
	line-height: 50px;
    margin-top: 10px;
}

#subtitle {
    font-family: 'Parisienne', cursive;
	font-size: 50px;
	font-style: normal;
	line-height: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
    text-decoration: none;
}

h2 {
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
    
}

hr {
    border-top: 1px solid #D9D9D7;
    margin: 0px;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
    text-align: justify;
    font-weight: 200;
    color: #000000;
}

#datetext {
    font-family: 'Parisienne', cursive;
    font-size: 24px;
    }

.blogpostlink {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    color: black;
  }

.postby:link {
    color: #2F28F2;
    text-decoration: none;
  }

.postby:visited {
    color: #2F28F2;
    text-decoration: none;
  }

.postby:hover {
    color: #ff1b6b;
    text-decoration: underline;
  }
    
.postby:active {
    color: #ff1b6b;
    font-weight: 500;
    text-decoration: underline;
 }


nav ul { list-style-type: none; 
}

 Navigation bar 
.col-1_overrides {
    border: 1px solid black;
}

.col-4_overrides {
    border: 1px solid black;
    
}

.verticalLine {
    border-left: 1px solid #D9D9D7;
}

.col-2_overrides {
    position: inherit;
    margin-left: 30 px;
    box-sizing: content-box;
    padding: 0px;
    
}

/* Text inside col-2 */
#sidebar {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: #919294;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Line before footer */
#hrbottom {
    border-top: 3px solid #D9D9D7;
    margin: 0px
    }

/* Footer */
.footer {
    margin-top: 20px;
}

